@charset 'utf-8';
@import "~@/styles/colors.scss";
@import "~@/styles/variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: $text-normal;
  font-weight: 400;
  color: $black;
  height: 100%;
}

h1 {
  font-family: $text-heading;
  font-weight: 600;
}

h3 {
  font-family: $text-normal;
  font-weight: 700;
}

body {
  font-size: 1.6rem;
  height: 100%;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  background-color: $black;
  border: none;
  border-radius: 0.5rem;
  color: $white;
  font-weight: 700;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: $primary;
}

.textInput {
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  outline: none !important;
  border: 2px solid $black;
  transition: all 0.3s;
}

.textInput:focus {
  outline: none !important;
  border: 2px solid $primary;
}
